body {
    background-image: url(./guess-bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 96vh;
}

h1 {
    display: block;
    text-align: center;
    font-size: 32px;
    margin-top: 60px;
}

div{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

button {
    margin-left: 3px;
}

#warn{
    display: block;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

#click-count{
    display: block;
    text-align: center;
    font-size: 20px;
}

#demo{
    display: none;
}


/* #rabbit{
    display: none;
    max-width: 200px;
    height: auto;
    position: absolute;
    right: 170px;
    bottom: 260px;
    visibility: hidden;
    background-attachment: fixed;
} */

#p-rabbit{
    display: block;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}