body {
    background-image: url(./guess-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 96vh;
}

h1 {
    display: block;
    text-align: center;
    font-size: 40px;
}

div{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

button {
    margin-left: 3px;
}

#warn{
    display: block;
    text-align: center;
    font-size: 20px;
}

#click-count{
    display: block;
    text-align: center;
    font-size: 20px;
}